<a href="https://colab.research.google.com/github/karbekk/Java-Ps/blob/master/Finds_Mtech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
finds = pd.read_csv("/content/finds.csv")

In [0]:
print(finds)

   Sunny  Warm Normal  Strong Warm.1    Same  Yes
0  Sunny  Warm   High  Strong   Warm    Same  Yes
1  Rainy  Cold   High  Strong   Warm  Change   No
2  Sunny  warm   High  Strong   Cool  Change  yes

In [0]:
import csv
with open("/content/findsss.csv") as find:
  reader = csv.reader(find)
  data = list(reader)

In [4]:
data

[['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Cloudy', 'Cold', 'High', 'Strong', 'Warm', 'Same', 'No'],
 ['Sunny', 'Cold', 'High', 'Strong', 'Cold', 'Change', 'Yes']]

In [0]:
h = ['0','0','0','0','0','0']

In [0]:
for row in data: # for row =0;row<n;row++
  if row[-1] == 'Yes':
    j=0
    for col in row:
      if col!="Yes":
        if col!=h[j] and h[j] == '0':
          h[j] = col
          #print(col)
        elif col!=h[j] and h[j]!='0':
          h[j] = '?'
          #print(col)
      j=j+1

In [7]:
h

['Sunny', '?', '?', 'Strong', '?', '?']